@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono|Barlow);


html {
    padding: auto;
    margin: auto;
    height:100%;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size:calc(0.8rem + 1vw);
    padding:auto;
    margin: auto;
    height: 100%;
}

.uline {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  cursor: help;
}

.uline:hover {
  color: #28b587;
  text-decoration-line: none;
}

.info-location {
  padding: calc(0.5rem + 0.1vw) 0 calc(0.5rem + 0.1vw) 0;
  font-size:calc(0.6rem + 0.8vw);
}

h1, h2, h4 {
  //font-weight: 400;
}

.page {
    width:100%;
    height:100%;
}

.main {
    color: #eee;
    background: #242424/*#4c6d9d*/ url("Images/blake-connally-373084-unsplash-edit.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.projects {
    background-color: #eee;
    color: #0f1626 /*#28b587*/;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
    //font-weight: bold !important;
    font-size:calc(2rem + 2.4vw);
    padding: 0;
    margin: 0;
    //color: #28b587;
    //text-shadow: 2px 2px #2c3e50;
    //text-transform: uppercase;
}

.highlight {
  //background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.info {
    padding: calc(0.5rem + 0.1vw) 0 calc(0.5rem + 0.1vw) 0;
}

a {
    cursor:pointer;
    padding:0rem;
    text-decoration: none;
    display: inline-block;
}

.top {
    color: #eee;
}

.top:hover {
    //color: #fba033;
}

.bottom {
    color: #0f1626;
}

.bottom:hover {
    color: #ff533d;
}

h4 {
    //font-weight: normal;
    text-indent: calc(1rem + 0.5vw);
}

.ln {
  box-shadow:0 0 1px transparent;
  //background:#28b587 !important;
  height:4px;
  //color: #2c3e50;
}

.hvr-overline-from-center{
  display:inline-block;
  vertical-align:middle;
  -webkit-transform:perspective(1px) translateZ(0);
  transform:perspective(1px) translateZ(0);
  box-shadow:0 0 1px transparent;
  position:relative;
  overflow:hidden
}
.hvr-overline-from-center:before{
  /*
  content:"";
  position:absolute;
  z-index:-1;
  left:50%;
  right:50%;
  top:0;
  */
  background:#28b587 !important;
  /*
  height:4px;
  -webkit-transition-property:left,right;
  transition-property:left,right;
  -webkit-transition-duration:.3s;
  transition-duration:.3s;
  -webkit-transition-timing-function:ease-out;
  transition-timing-function:ease-out
  */
}
/*
.hvr-overline-from-center:active:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:hover:before{
  left:0;
  right:0
}
*/

.box-outer {
  width: 100%;
  display: table;
  border-spacing: 1rem;
  height: 50vh;
}

.box {
  //border: 1px solid red;
  width: 50vw;
  display: table-cell;
  vertical-align: middle;
}

#rejto-ipsum {
    color: #000;
    background-color: #242424;
    background-image: url("Images/rejto-ipsum.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#animated-abugida {
    color: #eee;
    background: #242424 url("Images/animated-abugida.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.box:hover {
  transform: scale(1.1);

  -webkit-transition-duration:.3s;
  transition-duration:.3s;
  -webkit-transition-timing-function:ease-out;
  transition-timing-function:ease-out
}

@media only screen and (max-width: 1000px) {
  .box {
    vertical-align: center;
    display: table-cell;
    width: 30vw !important;
    height: 30vh !important;
  }
}
