@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono:400);

body {
    color: #eee;
    background-color:#0f1626;
    font-family: 'Share Tech Mono', monospace;
    font-size:calc(0.8rem + 1vw);
    padding:auto;
    margin: auto;
}

.outer {
    display: table; 
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 80vw;
}

#name {
    font-size:calc(1rem + 1.2vw);
}

h1 {
    padding: 0;
    margin: 0;
}

.info {
    padding: calc(0.5rem + 0.1vw) 0 calc(0.5rem + 0.1vw) 0;
}

.button {
    display: inline-block;
    padding:0.3rem;
    text-decoration: none;
    color: #eee;
}

.button:hover {
    color: #ff533d;
}
